/* Container */

.Container {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.Sidebar {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px 5px 5px;
}

.MainContent {
    margin: 20px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0,31,63, 0.85);
    color: white;
}

.TitleContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
}

.FormContainer {
    margin-top: 10px;
    width: 100%;
}

/* Fields */

.MangaImage {
    max-height: 300px;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Title {
    font-size: 400%;
    flex: 80%;
    text-align: left;
}

.SetField {
    font-size: 150%;
    margin: 5px 0px 5px 0px;
    color: white !important;
}

.TextAreaField {
    font-size: 125%;
    margin: 15px 0px 15px 20px;
    padding: 10px;
    background-color: rgba(0,31,63, 0.85);
    color: white !important;
}

.Row {
    display: flex;
}

.FormRow {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.FormButtonRow {
    display: flex;
    justify-content: space-evenly;
}

.Left {
    flex: 20%;
    text-align: left;
}

.Right {
    flex: 80%;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .Sidebar {
        width: 100%;
    }
    .TitleContainer {
        margin-bottom: 10px;
    }
    .Title {
        font-size: 200%;
        flex: 100%;
    }
    .SetField {
        font-size: 125%;
    }
    .TextAreaField {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    .Left {
        flex: 100%;
    }
    .Title {
        font-size: 100%;
        flex: 100%;
    }
    .SetField {
        font-size: 100%;
    }
}

.WideButton {
    width: 150px !important;
    margin-bottom: 5px !important;
}