.Container {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #2e4053;
}

.Sidebar {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    border-right: opx solid gray;
    border-left: 0px solid gray;
    align-items: center;
    padding: 0px 5px 5px 5px;
}

.MangaImage {
    width: 100%;
}

.MainContent {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    width: 60%;
    padding: 10px;
    background-color: #001f3f;
    color: white;
}

.TitleContainer {
    display: flex; 
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.Title {
    font-size: 400%;
    flex: 90%;
    text-align: left;
}

.SetField {
    font-size: 150%;
    margin: 5px 0px 5px 0px;
    color: white !important;
}

.FormContainer {
    width: 100%;
}

.InputField {
    font-size: 150%;
    margin: 5px 0px 5px 0px;
    color: white !important;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid black;
}

.Row {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.LeftColumn {
    flex: 30%;   
    text-align: left;
}

.Column {
    flex: 80%;   
    text-align: left;
}