.SearchContainer {
    height: 80%;  
    margin: 5px 10px 5px 5px !important;
    height: 35px;
}

.InputText {
    width: 150px;
}

@media screen and (max-width: 370px) {
    .InputText {
        width: 100px;
    }
}

@media screen and (max-width: 320px) {
    .InputText {
        width: 50px;
    }
}