.Container {
    display: flex;
    justify-content: center;
    /*background-color: #2e4053;*/
    min-height: 100%;
    width: 100%;
}

.Inner {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}