.Row {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.LoginError {
    margin-bottom: 20px !important;
}

.UsernameField {
    margin-top: 5px;
    margin-bottom: 25px;
}

.PasswordField {
    margin-bottom: 25px;
}