.Dummy {
    height: 50px;
    width: 100%;
}

.Navbar {
    height: 50px;
    width: 100%;

    position: absolute;
    top: 0px;
    
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.Right {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.HamburgerMenu {
    display: none;
    margin: 5px 5px 5px 10px;
}

.UserMenu {
    margin: 5px 10px 5px 5px;
}

.Link {
    font-size: 150%;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.Greeting {
    font-size: 120%;
    color: white;
    margin: 0px 20px 0px 5px;
}

.Button {
    min-width: 100px;
    font-size: 150%;
    background: lightskyblue;
    color: white;
    border: 0px;
    margin: 5px 20px 5px 5px !important;
    border-radius: 5px;
    height: 35px !important;
}  

@media screen and (max-width: 800px) {
    .HorizontalMenu {
        display: none;
    }
    .HamburgerMenu {
        display: inline;
    }
}
