.Container {
    display: flex;
    width: 80%;
    min-height: 180px;
    padding: 10px;
    margin: 10px 0 10px 0px;
    align-items: center;
    background-color: #001f3f;
}

.Container:hover {
    background-color: #000825;
}

.MangaImage {
    height: 180px;
}