.Main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Inner {
    margin-top: 30px;
    width: 70%;
}

.ReleaseAccordion {
    min-width: 200px;  
    text-align: left;
}

.newButton {
    margin-bottom: 20px !important;
}