.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    margin-top: 30px;
    width: 70%;
    height: 100%;
}

.newButton {
    margin-bottom: 20px !important;
}

.calendarDesktopDiv {
    height: 600px;
    color: whitesmoke;
}

.calendarMobileDiv {
    display: none;
    color: whitesmoke;
    height: 100%;
}

.mobileContainer {
    background-color: rgba(0, 31, 63, 0.85);
    border: 2px solid #003264;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 50px;
}

.mobileDaysHead {
    padding: 10px;
    font-size: 22px;
}

.mobilePubContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mobilePubHead {
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    font-size: 18px;
}

.mobileRelease {
    display: flex;
    align-items: center;
    padding: 5px;
}

.checkBox {
    min-height: 30px;
    min-width: 30px;
    margin: 10px;
    border: 3px solid #00335a;
    background-color: #007ad9;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
}

.mobileMangaTitle {
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .calendarDesktopDiv {
        display: none;
    }
    .calendarMobileDiv {
        display: block;
    }
    .inner {
        width: 90%;
    }
}