.Container {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    padding: 10px;
    align-items: flex-start;
}

.Title {
    color: white;
    font-size: 150%;
}

.Authors {
    color: white;
    font-style: italic;
}

.DetailsTable {
    margin-top: 20px;
    color: white;
    text-align: left;
}
